.footer {
    grid-area: footer;
    background-color: black;
}

.footer .FB{
    width: auto;
    height: auto;
    background-color: #2e78bd;
    color: white;
    border-radius: 4px;
    font-family: salvo, sans-serif;
    padding: 2px;
    margin: 4px;
    display: inline-block;
    font-weight: bold;
}
