@import "template.css";


@media(min-width:990px){
    .pageContainer {
        display: grid;
        grid-template-rows: 450px 50px 1fr 30px;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "head head head head"
        "nav nav nav nav"
        "sidebar content content ."
        "footer footer footer footer";
    }

    .navBar {
        grid-area: nav;
        display: flex;
        padding-right: 30px;
        justify-content: space-between;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-bottom : black solid 1px;
        /* margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px; */
        align-items: center;
        position: sticky;
        top: 0;
        background-color: black;
    }

    .navBar a {
        padding-left: 30px;
        font-weight: 800;
        color: white;
    }

    .navBar a:hover {
        padding-left: 30px;
        font-weight: 800;
        color: gray;
    }

    a  {
        text-decoration: none;
        color: black;
    }

    .subscribe {
        border: white solid 1px;
        border-radius: 10px;
        padding: 5px 5px 5px 5px !important;
    }

    .content {
        grid-area: content;
        font-size: large;
        padding-top: 50px;
        padding-left: 50px;
    }

    .sideBar {
        padding-top: 100px;
        grid-area: sidebar;
    }
    .sideBar ul::before {
        content: attr(aria-label);
        font-size: 1.3em;
        font-weight: 800;
        text-decoration: underline;
    }

    .sideBar li {
        list-style: none;
        line-height: 1.5;
        padding-right: 15px;
        margin-top: 0;
        padding-bottom: 10px;
    }

    .sideBar li h3 {
        margin-bottom: 0;
    }

    .aboutCard {
        width: 70%;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
        padding: 4px 4px 4px 4px;
    }

    .aboutCard img {
        width: 14%;
        height: 14%;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
        border-radius: 10px;
    }

    .aboutCard h3 {
        margin: 0;
        display: flex;
    }

    .aboutCard button {
        width: 20px;
        height: 20px;
        background-image: url(../images/linkedin.png);
        background-size: cover;
        border-radius: 2px;
        margin-left: 4px;
    }

    .footer {
        grid-area: footer;
        align-items: center;
        background-color: black;
    }

}
